body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #E7E7E4;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1; /* Hauptinhalt wächst, um den Platz zu füllen */
}

.main_2nd_row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1; /* Hauptinhalt wächst, um den Platz zu füllen */
}
.footer {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 20px;
    flex-shrink: 0; /* Footer bleibt am unteren Rand */
}

.picture-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    flex: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    flex-direction: column; 
}

.chat-container {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 10px;
    width: 800px;
    height: 590px;
    max-width: 100%;
    background-color: #eaeef7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Chat-Container wächst, um den Platz zu füllen */
    overflow-y: auto;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #222121;
}

.consent-box{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: right; /* Vertikale Zentrierung */
    align-items: right; /* Horizontale Zentrierung */
    gap: 10px;
    color: #222121;
}

.message {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 80%;
    word-wrap: break-word;
}

.bot-message {
    background-color: #2666c0;
    align-self: flex-start;
    color: #fff;
}

.user-message {
    background-color: #3884C7;
    color: #fff;
    align-self: flex-end;
}

.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

#send-btn {
    padding: 10px 20px;
    border: none;
    background-color: #BFDAA7;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

#disapprove-btn {
    padding: 10px 20px;
    border: none;
    background-color: #f34437;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

#approve-btn {
    padding: 10px 20px;
    border: none;
    background-color: #BFDAA7;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #799165;
}
